.task-label {
    display: flex;
    align-items: center;
    gap: 8px;
}

.accordion-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 8px 0;
    align-items: flex-start;
}

.overview-container {
    display: flex;
    gap: 16px;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.overview-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
}

.overview-column + .overview-column::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #dcdcdc;
}

.overview-column h1 {
    background-color: black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.overview-column h3 {
    text-align: center;
    margin-bottom: 8px;
}

html, body, #root {
    height: 100%;
    margin: 0;
}

.subtask-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.round-plus-button {
    width: 20px;
    height: 20px;
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease;
    margin-top: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 30%;
    outline: none;
}

.round-plus-button:hover {
    transform: scale(1.1);
}

.round-plus-button-black {
    margin-left: 20px;
    width: 30px;
    height: 30px;
    background-color: #000000;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 30%;
    outline: none;
}

.round-plus-button-black:hover {
    background-color: #ffffff;
    color: #000000;
}

.subtask-input-row{
    display: flex;
    align-items: center;
    gap: 20px;
}

.subtask-add-button {
    margin-top: 17px;
    background-color: #000000;
    padding-top: 5px;
    padding-bottom: 5px;
}

.subtask-add-button .button-text {
    color: white;
}

.category-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 10px 16px;
    color: white;
}

.task-label {
    display: flex;
    align-items: flex-start;
}